<div class="row">
    <div class="col-xs-12 col-m-2 col-md-2 col-mg-2">
        <img src="../../../assets/fotoperfil1.jpeg" 
        class="img fluid" >
    </div>
        <div class="col-xs-12 col-m-2 col-md-2 col-mg-2" >
            <p> Munhó nelson Javier</p>
            <p>    Full Stack Developer jr.</p>
        </div>
        <div class="col-xs-12 col-m-8 col-md-8 col-mg-8" >
            <span> <h1> Acerca de mi</h1>
                <p> Lorem ipsum dolor sit amet
                     consectetur adipisicing elit. 
                     Incidunt consequatur impedit deserunt
                      recusandae autem eius natus eligendi libero,
                       quibusdam consequuntur et accusamus iure nam
                        veritatis maiores excepturi rerum nostrum. Quia?</p>
             </span>
        </div>

</div>
